@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja bem vindo(a)!</h1>
    <h5>Aproveite o melhor suco do universo</h5>
    <div class="fotoSuco">
        <img src="~/css/fotoscuolaranja.png" />
    </div>
</div>
